.wrapper {
    background: #c1c1c1;
    position: fixed;
    width: 100%;
    height: 100%;
}
.scheduleModal-fixed {
    background: #fff none repeat scroll 0 0;
    color: #000;
    font-family: "Open Sans";
    margin: 0 auto;
    padding: 25px 45px;
    position: relative;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 600px;
    overflow-y: scroll;
}

.scheduleModal-close {
    position: absolute;
    right:0;
    top: 0;
}

a {
    outline: medium none;
    text-decoration: none;
}

.scheduleModal h3 {
    border-bottom: 0 none;
    color: #0675bf;
    font-family: "Open Sans";
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}

h3 {
    border-bottom: 1px solid #d8eefb;
    color: #0675bf;
    font: 18px/24px Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
    padding-bottom: 8px;
}

.scheduleModal-fixed select {
    display: inline-block;
    -ms-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) url(img/selectArrow.svg) no-repeat scroll 275px 50%;
    background-size: 20px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    color: #000;
    font-family: Arial;
    font-size: 12px;
    width: 100%;
}

select {
    width: 220px;
    border: 1px solid #bbb;
}

select, input[type="file"] {
    height: 28px;
}

html.eskimobi_responsive body .scheduleModal-fixed input[type="text"], html.eskimobi_responsive body .scheduleModal-fixed textarea {
    box-sizing: border-box;
    height: auto;
}

.scheduleModal-fixed input[type="text"] {
    -moz-appearance: none;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    color: #000;
    font-family: Arial;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding-right: 0;
    width: 100%;
    vertical-align: top;
}

.scheduleModal-fixed form#adminForm.nc-form div table {
    margin-top: 25px;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

.scheduleModalForm textarea {
    box-sizing: border-box;
    width: 100%;
}

#adminForm textarea {
    margin-right: 10px;
    width: calc(100% - 10px);
}
@media (min-height: 640px) {
    .scheduleModal-fixed {
        height: 640px;
    }
}
@media (min-height: 360px) {
    .scheduleModal-fixed {
        height: 360px;
    }
}

