footer {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 0px;
    width: 100%;
}
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.grid_12 {
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}
.footer-menu {
    float: left;
    overflow: hidden;
    padding-bottom: 60px;
}
.footer-menu li {
    float: left;
    font: 14px/17px Arial,Helvetica,sans-serif;
    margin-right: 13px;
}
.footer-menu .contacts > * {
    color: #0675bf;
    display: block;
    font-size: 22px;
    font-weight: bolder;
    margin-left: 30px;
}